.section-flats{
    margin: 10rem 0rem;
}

.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}   

.wrapper{
    display: flex;
    text-align: center;
}



.flat{
    &__container{
        width: 60%;
        height:60rem;
        padding: 0;
        margin:auto;
    }
    &__heading{
        width:100%;
        margin:auto;
        color:black;
        margin-bottom: 5rem; 
    }
    &__leftbox{
        
        float:left;
        width:50%;
        height:100%;
        background-color: teal;
    }
    &__border{
        border: solid 0.2rem;
    }
    &__rightbox{
        
        float:right;
        width:50%;
        height:24rem;
        background-color: peru;
    }
    &__headingbox{
    background-color: green;
    padding: 0.5rem;
    }
    &__heading{
    text-align: center;
    font-size: 3rem;
    }
    &__img{
    width:100%;
    background-color: blue;
    height:50%;
    }

    &__subheading{
    width:100%;
    margin:auto;
    color:black;
    margin-bottom: 5rem; 
    }
    &__subheading > h1{
    text-align: center;
    font-size: 4rem;
    }
    &__footer{
    font-size:2rem;
    text-align: center;
    }

&__img{
    // background-image: url("https://www.realestate.com.au/blog/images/800x800-fit,progressive/2018/06/13221900/capi_d67941ed7146cda97c499f8bddd924f9_3ef8e5954af431236452caab1c38dc94.jpeg");
    width:100%;
    // background-size: cover;
    // background-position: top;
    // position: relative;
}
&__text{
font-size:2rem;
}
}