<section class="section-flats" id="section-flats">
        <div class="heading-flat">
                <h1>
                    Our Apartments
                </h1>
        </div>
    
        <div class="flex-container threeSection">
            <header class="subheading-flat"><h1 class="flat-type">Monolocale</h1></header>
            <div class="flat">
                <div class="flat-img"></div>
                <div class="flat-text"><header>Number 1</header>
                    <footer><button>Read More</button><button>Order Now</button></footer>
                </div>
            </div>
            <div class="flat">
                <div class="flat-img"></div>
                <div class="flat-text"><header>Number 2</header>
                    <footer><button>Read More</button><button>Order Now</button></footer>
                </div>

            </div>
            <div class="flat"><div class="flat-img"></div>
            <div class="flat-text"><header>Number 3</header>
                <footer><button>Read More</button><button>Order Now</button></footer>
            </div></div>
        </div>
        <footer class="footer-flat"> Studio flat, with kitchen and bathroom</footer>
        <header class="subheading-flat"><h1 class="flat-type">Bilocale</h1></header>
        <div class="flex-container twoDiv">
                <div class="flat">
                    <header>Number 1</header> 
                    <footer><button>Read More</button>
                        <button>Book Now</button></footer>
                        
                </div>
                <div class="flat">Number 2</div>
        </div>
        <footer class="footer-flat"> Two room appartments, with kitchen and bathroom</footer>
        <header class="subheading-flat"><h1 class="flat-type">Trilocale</h1></header>
        <div class="flex-container">
            <div class="flat">Number 1</div>
            <div class="flat">Number 2</div>
        </div>
        <footer class="footer-flat">Three room appartments, with kitchen and bathroom</footer>
</section>